{% extends 'baseStatus.html' %}
{% load static %}

{% block content %}
<div class="main-page">
    <div class="confirm-page container">
        <h1 class="main-header">Konfirmasi Status</h1>
        <h2>Yakin ingin membagikan status ini?</h2>
        <div class="form-confirm-section">
            <form action="/confirmstatus/" method="post">
                {% csrf_token %}
                <input type="hidden" name="nama" value="{{name}}">
                <input type="hidden" name="status" value="{{status}}">
                <input type="hidden" name="confirm" value="yes">
                {% if warning != '' %}
                <div class="confirm-warning">{{warning}}</div>
                {% endif %}
                <div class="form-group">
                    <h3 class="form-confirmation-header">Nama</h3>
                    <div class="form-confirmation-text">
                        {{name}}
                    </div>
                </div>
                <div class="form-group">
                    <h3 class="form-confirmation-header">Status</h3>
                    <div class="form-confirmation-text">
                        {{status}}
                    </div>
                </div>
                <div class="form-button-group">
                    <a href="/" class="discard-button">HAPUS</a>
                    <button type="submit" class="status-submit-button confirm-button">Bagikan</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
