{% extends 'baseStatus.html' %}

{% load static %}
{% block content %}
<div class="main-page">
    <div class="main-section">
        <div class="container">
            <h1 class="main-header"><span style="color: #ffc000;">Status </span>Terbaru</h1>
            <div class="status-card-section">
                {% if message_type == 'success' %}
                <div class="status-card success-card">status berhasil ditulis!</div>
                {% endif %}
                {% for status in statuses %}
                <div class="status-card">
                    <div class="status-card-head">
                        <div class="status-card-profile-section">
                            <h3 class="status-profile-name">{{status.nama}}</h3>
                        </div>
                    </div>
                    <div class="status-card-body">
                        <p class="status-body-text">{{status.pesan}}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="main-section">
        <div class="container">
            <h1 class="main-header">Yuk, Ceritakan <span style="color: #ffc000;">Status</span>mu!</h1>
            {% if message_type == 'status_empty' %}
            <div class="status-card danger-card">tolong diisi!</div>
            {% endif %}
            <form action="/addstatus/" method="post">
                {% csrf_token %}
                <div class="form-group">
                    <span class="form-label-group">
                        <h3>nama</h3>
                        <h3 class="label-info">(tidak wajib)</h3>
                    </span>
                    <input type="text" id="inputName" class="input-name" name="nama" placeholder="tuliskan namamu disini"
                        autocomplete="off">
                </div>
                {% if message_type == 'status_empty' %}
                <div class="form-group">
                    <h3>status</h3>
                    <textarea row="4" class="input-danger" id="inputStatus" name="status"
                        placeholder="tuliskan statusmu disini"></textarea>
                </div>
                {% else %}
                <div class="form-group">
                    <h3>status</h3>
                    <textarea row="4" id="inputStatus" name="status" placeholder="tuliskan statusmu disini"></textarea>
                </div>
                {% endif %}
                <div class="form-button-group">
                    <a onclick="cleanForm()" class="discard-button">HAPUS</a>
                    <button type="submit" class="status-submit-button">Bagikan Status</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function cleanForm() {
        document.getElementById('inputName').value = '';
        document.getElementById('inputStatus').value = '';
    }
</script>
{% endblock %}
